body{
    max-width:960px;
    margin:auto;
}

@media screen and (max-width: 980px){
    body{
        background: brown;
    }   
    .wrapper{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    body{
        background: #4aaaa5;
    }
    .wrapper{
        width: 100%;
    }
}

@media screen and (max-width: 640px){
    body{
        background: tomato;
    }
    .wrapper{
        width: 100%;
    }
}

/* .nav{
    background: #4aaaa5;
    padding: 20px;
    font-size: 50px;
    color: #eeee;
    font-weight: bold;
} */

.image {
    max-width: 100%;
    height: auto;
  }

.nav-about{
    border-right: 1px solid #dddddd;
}


.nav-portfolio{
    border-right: 1px solid #dddddd;
}

.nav-link{
    font:50px;
}

.container{
    padding: 20px;
    font-size: 30px;
    color: #4aaaa5;
}

.title{
    border-bottom: solid grey 2px;
    margin-bottom: 10px;
}

.image{
    float: left;
    margin: 20px 20px 0 0;
}

.stuff{
    padding: 20px 0;
    font-size: 20px;
    color: black;
}

.footer{
    background: #4aaaa5;
    padding: 40px;
}

.row{
    float: left;
    overflow: auto;
    padding: 20px;
}